body {
  font-family: 'Roboto', sans-serif;;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 5px solid black;
}

#currentDay {
  color: #034f84 ;
  font-size: xx-large;
  padding-top: 40px;
  font-weight: 600;
}

.schedule{
  white-space: pre-wrap;
}

#time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  text-align: center;
  padding-top: 30px;
  background-color: #92a8d1;
  color: #000000;
  border-top: 1px dashed #000000;
  border-left: 1px dashed #000000;
}

.past {
  background-color: #bfc7cf;
  color:  white;
}

.present {
  background-color: #ffcc5c;
  color: black;
  border: rgb(241, 226, 14) 5px solid;
  
}

.future {
  background-color: #ff6f69;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #92a8d1;
  color: rgb(0, 0, 0);
  margin-right: 10px;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.clearBtn {
  border-left: 1px solid black;
  border-radius: 15px;
  background-color: #034f84;
  color: white;
}

.clearBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}