body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 5px solid black;
}

#currentDay {
  color: rgb(61, 4, 102);
  font-size: x-large;
  padding-top: 40px;
}

.schedule{
  white-space: pre-wrap;
}

#time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  text-align: center;
  padding-top: 30px;
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #b8b8b8;
  color:  white;
}

.present {
  background-color: #afe0bc;
  color: black;
  border: rgb(7, 155, 64) 2px solid;
  
}

.future {
  background-color: #e9d684;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(223, 190, 5);
  color: rgb(0, 0, 0);
  margin-right: 10px;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.clearBtn {
  border-left: 1px solid black;
  border-radius: 15px;
  background-color: rgb(192, 169, 142);
  color: rgb(0, 0, 0);
}

.clearBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}